<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<div>

	<div class = "background">
		<%= image_tag('zoo1.jpg', :width => 1000, :height => 556, :class=> "img_back") %>
	</div>
	
</div>

